.alert{
  margin: 10px 15px;
  border: darken($yellow, 20%) 1px solid;
  border-radius: 4px;
  background: $yellow;
  color: $yellow_font_color;
  padding: 5px 10px;
  
  &.notify{
    background: $yellow;
    border-color: darken($yellow, 50%);
    color: $yellow_font_color;
  }
    
  &.error, &.errors{
    background: $red;
    border-color: darken($red, 20%);
    color: $red_font_color;
  }
}
